# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
*.local

# Uploads & Temp
uploads/*
!uploads/.gitkeep
*.log

# IDE
.vscode/
.idea/
*.swp
